body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Source Code Pro", monospace;
}
.bodies {
	padding: 6% 10% !important;
}
.cards-g {
	display: grid;
	grid-template-columns: 4fr 1fr;
}
*::selection {
	color: white !important;
	background-color: salmon !important;
}
